body {
    margin: 0;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    background-image: url('sign\ up.jpg'); /* Replace 'background.jpg' with your image */
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    padding: 20px;
    border-radius: 60px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    width: 400px;
    text-align: center;
}

h1 {
    color: #2c3e50;
}

.form {
    margin-top: 50px;
}

button {
    padding: 10px 20px;
    background-color: #63db34;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

a {
    color: #e74c3c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
